<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/Site.css")
    @System.Web.Optimization.Styles.Render("~/Content/Styles/Menu.css")
    @System.Web.Optimization.Scripts.Render("~/Content/Scripts/ScriptsSGPP/Menu.js")
</head>
<body>
    <table border="1" style="width: 990px; height: 600px; font-family: Arial">

        <tr style="height: 80px">
            <td colspan="2" style="text-aling: center; background-color: #00FFFF; color: blue">
                <h3></h3>
                <div style="float: left; width: 110px">
                    <p class="site-title">@Html.ActionLink("SGPP", "CreateUserView", "User")</p>
                </div>
                <div style="float: right">
                    <section id="login">
                        @if (Session["LogedUserId"] != null)
                        {
                            <text>
                            Bienvenido @Session["LogedUserFullName"].ToString()
                            @Html.ActionLink("Salir", "Logout", "Home")
                            </text>
                        }
                        else
                        {
                            @Html.Partial("_LoginPartial")
                       
                        }
                    </section>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id='cssmenu'>
                    <ul>
                        <li><a href='#'><span>Lo_Barrile_Home</span></a></li>
                        <li class='active has-sub'><a href='#'><span>Barrile_etapas</span></a>
                            <ul>
                                <li class='has-sub'><a href='#'><span>Barrile_en_USA</span></a>
                                    <ul>
                                        <li><a href='#'><span>Trabaja_estudia</span></a></li>
                                        <li class='last'><a href='#'><span>Habla_bajito</span></a></li>
                                    </ul>
                                </li>
                                <li class='has-sub'><a href='#'><span>Barrile_en_RD </span></a>
                                    <ul>
                                        <li><a href='#'><span>Habla_Duro</span></a></li>
                                        <li class='last'><a href='#'><span>Fuma_Bebe</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href='#'><span>Test</span></a></li>
                        <li class='last'><a href='#'><span>Exit</span></a></li>
                    </ul>
                </div>
                <td style="width: 700px">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </td>
        </tr>
        <tr style="height: 100px">
            <td colspan="2" style="text-aling: center; font-sixe: x-small; background-color: #00FFFF; color: blue">
                <p>&copy; @DateTime.Now.Year - SGPP</p>
            </td>
        </tr>
    </table>
</body>
</html>
