@model SGPP.Models.UC.CLogin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutM.cshtml";
    string _ErrorUser = ViewBag.ErrorUser;
}
@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div>
        <table>
            <tr>
                <td></td>
                <td>
                    <h style="color: red">@ViewBag.ErrorUser</h>
                </td>
            </tr>
            <tr>
                <td style="color: blue">
                    @Html.Label("Usuario")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UserName)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.UserName)
                </td>
            </tr>
            <tr>
                <td style="color: blue">
                    @Html.LabelFor(model => model.Pass)
                </td>
                <td>
                    @Html.PasswordFor(model => model.Pass)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Pass)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Crear" formaction="/Home/Login" />
                </td>
                <td>
                    <input type="submit" value="Cancelar" formaction="/Home/Index" />
                </td>
            </tr>
        </table>

    </div>
    
    
}