@model SGPP.Models.UC.CUser
@{
    ViewBag.Title = "Registro de Usuario";
    Layout = "~/Views/Shared/_LayoutM.cshtml";
}
@{
    ViewBag.Title = "Registro de Usuario";
    //string _CreateUserError = ViewBag.CreateUserError;
}

<h2>Registrar Usuario</h2>
@using (Html.BeginForm())
{ 
    <table>
        <tr>
            <td></td>
            <td>
                <td>
                    <h style="color: red">@ViewBag.CreateUserError</h>
                </td>
            </td>
        </tr>
        <tr>
            <td style="color: blue">
                @Html.DisplayNameFor(model => model.Person.Company.DisplayName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Person.Company.DisplayName)

                @Html.ValidationMessageFor(model => model.Person.Company.DisplayName)
            </td>
        </tr>
        <tr>
            <td style="color: blue">
                @Html.DisplayNameFor(model => model.Person.Company.Local)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Person.Company.Local)

                @Html.ValidationMessageFor(model => model.Person.Company.Local)
            </td>
        </tr>
        <tr>
            <td style="color: blue">
                @Html.DisplayNameFor(model => model.Person.FirstName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Person.FirstName)

                @Html.ValidationMessageFor(model => model.Person.FirstName)
            </td>
        </tr>
        <tr>
            <td style="color: blue">
                @Html.DisplayNameFor(model => model.Person.LastName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Person.LastName)
                @Html.ValidationMessageFor(model => model.Person.LastName)
            </td>
        </tr>
        <tr>
            <td style="color: blue">
                @Html.DisplayNameFor(model => model.Person.DocumentTypeId)
            </td>
            <td>
                @Html.DropDownList("DocumentTypeId", "-Seleccionar-")
                @Html.ValidationMessageFor(model => model.Person.DocumentTypeId)
            </td>
        </tr>
        <tr>
            <td style="color: blue">
                @Html.DisplayNameFor(model => model.Person.DocumenTypeDesc)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Person.DocumenTypeDesc)
                @Html.ValidationMessageFor(model => model.Person.DocumenTypeDesc)
            </td>
        </tr>
        <tr>
            <td style="color: blue">
                @Html.DisplayNameFor(model => model.Person.Sex_ID)
            </td>
            <td>
                @Html.DropDownList("SexId", "-Seleccionar-")
                @Html.ValidationMessageFor(model => model.Person.Sex_ID)
            </td>
        </tr>
        <tr>
            <td style="color: blue">
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Login.UserName)
                @Html.ValidationMessageFor(model => model.Login.UserName)
            </td>
        </tr>
        <tr>
            <td style="color: blue">
                @Html.DisplayNameFor(model => model.Login.Pass)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Login.Pass)
                @Html.ValidationMessageFor(model => model.Login.Pass)
            </td>
        </tr>
        <tr>
            <td style="color: blue">Repetir @Html.DisplayNameFor(model => model.Login.PassRep)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Login.PassRep)
                @Html.ValidationMessageFor(model => model.Login.PassRep)
            </td>
        </tr>

    </table>
    <br>
    <table>
        <tr>
            <td>
                <input type="submit" value="Registrar" formaction="/User/CreateUser" />
            </td>
            <td>
                <input type="submit" value="Cancelar" formaction="/Home/Index" />
            </td>
        </tr>
    </table>
}